@charset "utf-8";

@font-face {
	font-family: 'NotoSansJP';
	src: url(/font/NotoSansJP-VariableFont_wght.ttf);
}

* {
    margin: 0;
}

body {
    font-family:'NotoSansJP', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

header {
    margin: 0 auto;
    padding: 1em;
}

main {
    margin: 0 auto;
    padding: 1em;
}

footer {
    margin: 0 auto;
    padding: 1em;
}

._uri {
    font-style: italic;
}