@charset "utf-8";

@font-face {
	font-family: 'NotoSansJP';
	src: url(/font/NotoSansJP-VariableFont_wght.ttf);
}

body {
	font-family: MyFont;
}

* {
    margin: 0;
}



body {
    font-family:'NotoSansJP', 'Lucida Sans', Arial, sans-serif;
}

._uri {
    font-style: italic;
}