@charset "utf-8";

@font-face {
  font-family: "Noto Sans JP";
  src:
    url("../fonts/NotoSansJP-VariableFont_wght.ttf") format("woff");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html[lang="ja"] {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: hsla(135, 15%, 35%);
}

header,
main,
footer,
article {
  background-color: hsla(135, 100%, 95%, 0.75);
}

section {
  background-color: hsla(135, 100%, 98%, 0.75);
}

header,
footer {
  padding: 3em;
  font-family: Arial, Helvetica, sans-serif;
}

.page-bar {
  padding: .25em;
  background-color: hsla(135, 15%, 35%);
}

.page-separate {
  padding: .25em;
  background-color: hsla(135, 35%, 75%, 0.5);
}

.open-in-new-tab::after {
  content: url(../media/svg-icon/open-in-new-tab.svg);
  margin-left: 3px;
}

a,
a:visited,
a:active {
  color: hsl(135, 35%, 25%);
  transition: 1.5s;
}

a:hover {
  color: hsl(135, 35%, 35%);
  transition: .5s;
}

hr {
  margin: 1em;
  height: 3px;
  border-style: none;
  border-radius: 1.5px;
  background-color: hsla(135, 35%, 35%, 0.25);
}

summary {
  margin: 1.5em 5.25em 3em;
  width: fit-content;
  color: hsl(135, 35%, 25%);
  font-weight: bold;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

summary span {
  text-decoration: underline solid 2px hsl(135, 35%, 35%);
}

summary:hover {
  color: hsl(135, 35%, 35%);
  cursor: pointer;
  transition: 16ms;
}

.bold-font {
  font-weight: bold;
}

.spacing-font {
  padding: 0 .25em;
  font-family: 'Courier New', Courier, monospace;
}

.solid-under-line {
  text-decoration: underline solid 2px hsl(135, 35%, 35%);
  padding: 0 1px;
}

.dotted-under-line {
  text-decoration: underline dotted 3px hsla(135, 35%, 35%);
  padding: 0 1px;
}

.hyphenated::before {
  content: "\a0\a0-\a0\a0";
}

.down-arrow-mark {
  text-decoration: none;
}

.down-arrow-mark::before {
  content: "\FF3B\2193\FF3D";
}

.monospacing {
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.opacity-font {
  opacity: .5;
}

::-moz-selection {
  text-shadow: 0 0 5px hsl(135, 35%, 35%);
}

::selection {
  text-shadow: 0 0 5px hsl(135, 35%, 35%);
}

blockquote {
  margin: 1em 3em;
  padding: 1em .5em;
  border-left: 4px solid hsla(0, 0%, 0%, 0.5);
  color: hsl(0, 0%, 20%);
  background-color: hsla(0, 0%, 0%, 0.125);
  font-style: italic;
}

blockquote:has(cite) {
  padding: 1.5em .5em 2em;
}

blockquote p::before {
  content: "\201C";
  font-weight: bold;
}

blockquote p::after {
  content: "\201D";
  font-weight: bold;
}

cite {
  margin: 1em 1.5em;
  display: block;
  color: hsl(0, 0%, 45%);
  font-size: .8em;
  text-align: right;
}

cite::before {
  content: "出典：";
}

.site-index-image {
  width: 100%;
  height: auto;
  display: block;
  content: url("../media/sysmiyatake_wide.png");
}

.top-pic-thumb {
  margin: 1em;
  text-align: left;
}

.top-pic-thumb img {
  padding: .5em;
  width: 5vw;
  height: auto;
  transition: 1.75s;
  border-radius: 15%;
}

.top-pic-thumb img:hover {
  opacity: 0.1;
}

article p::selection {
  color: hsl(0, 0%, 100%);
  background-color: hsl(135, 15%, 35%);
}

article span::selection {
  color: hsl(0, 0%, 100%);
  background-color: hsl(135, 15%, 35%);
}

article a::selection {
  color: hsl(0, 0%, 100%);
  background-color: hsl(135, 15%, 35%);
}

article h1::selection {
  color: hsl(0, 0%, 100%);
  background-color: hsl(135, 15%, 35%);
}

article h2::selection {
  color: hsl(0, 0%, 100%);
  background-color: hsl(135, 15%, 35%);
}

article summary::selection {
  color: hsl(0, 0%, 100%);
  background-color: hsl(135, 15%, 35%);
}

#site-header {
  position: relative;
  margin-left: 84px;
}

#site-header::before {
  content: url(../media/svg-icon/logo.svg);
  position: absolute;
  margin-left: -84px;
}

#site-title {
  padding-top: 4px;
  padding-bottom: .5em;
  font-size: 1em;
}

#site-title a {
  color: hsl(135, 35%, 25%);
  text-decoration: none;
}

#site-title a:hover {
  text-decoration: underline;
}

#site-uri,
#contact-address {
  color: hsla(0, 0%, 0%, 0.75);
  font-size: .75em;
  font-family: 'Courier New', Courier, monospace;
}

#contact-address::after {
  content: "miyatakehtml [at] gmail.com";
}

#breadcrumb-list {
  padding: .5em 3em;
  font-size: .75em;
  background-color: hsl(135, 35%, 75%);
}

#breadcrumb-list ol {
  display: flex;
  list-style: none;
}

#breadcrumb-list li {
  padding-left: .5em;
}

#breadcrumb-list li.first-bc {
  font-weight: bold;
}

#breadcrumb-list li+li::before {
  content: "\203A\a0\a0";
}

#fixed-menu {
  margin: 6.75em 2em;
  padding: 1em;
  width: 7.5em;
  top: 0;
  right: 0;
  display: flex;
  position: fixed;
  z-index: 2;
  background-color: hsla(34, 78%, 91%, 0.75);
  border: .25em hsla(0, 0%, 0%, 0.15) solid; 
  border-radius: 1em;
}

.fixed-menu-toggle {
  margin: 2em;
  padding: 1em;
  width: 7.5em;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 3;
  background-color: hsla(34, 78%, 91%, 0.75);
  border: .25em hsla(0, 0%, 0%, 0.15) solid; 
  border-radius: 1em;
  text-align: center;
}

#fixed-menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.svgicon {
  padding: .75em .5em;
  font-size: 1.125em;
}

.home-icon a::before {
  content: url(../media/svg-icon/home.svg);
  padding-right: .5em;
}

.music-icon a::before {
  content: url(../media/svg-icon/music.svg);
  padding-right: .5em;
}

.picture-icon a::before {
  content: url(../media/svg-icon/picture.svg);
  padding-right: .5em;
}

.weblog-icon a::before {
  content: url(../media/svg-icon/weblog.svg);
  padding-right: .5em;
}

.document-icon a::before {
  content: url(../media/svg-icon/document.svg);
  padding-right: .5em;
}

.others-icon a::before {
  content: url(../media/svg-icon/others.svg);
  padding-right: .5em;
}

.information-icon a::before {
  content: url(../media/svg-icon/information.svg);
  padding-right: .5em;
}

.contact-icon a::before {
  content: url(../media/svg-icon/contact.svg);
  padding-right: .5em;
}

/* index.html only */
.music-top-icon a::before {
  content: url(../media/svg-icon/music.svg);
  padding-right: .5em;
}

.picture-top-icon a::before {
  content: url(../media/svg-icon/picture.svg);
  padding-right: .5em;
}

.weblog-top-icon a::before {
  content: url(../media/svg-icon/weblog.svg);
  padding-right: .25em;
}

.others-top-icon a::before {
  content: url(../media/svg-icon/others.svg);
  padding-right: .5em;
}
/* fin -- index.html only */

#page-title {
  padding: .5em 1em 1em;
  font-size: 2.5em;
}

#page-title::after {
  content: "\a0{";
  color: hsla(135, 15%, 35%, .25);
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
}

.strict-content::after {
  content: ""!important;
}

.page-headline-large {
  padding: 2em;
}

.page-headline-middle {
  padding: 1em 8em;
  font-size: 1em;
}

.page-headline-small {
  padding: 0 6em 2em;
  font-size: 1em;
}

.pic-garally {
  padding: 0 6em;
}

.garally-wrapper {
  margin: 1.5em;
  width: 12.5vw;
  height: 12.5vw;
  border-radius: 100%;
  border-spacing: 0;
  overflow: hidden;
  float: left;
}

img.garally-img {
  width: 12.5vw;
  height: 12.5vw;
  transition: 3.5s;
  border-radius: 100%;
}

img.garally-img:hover {
  opacity: .95;
  transform: scale(1.3);
  transition: .25s;
}

.works-list {
  padding: 0 6em 3em;
  font-weight: bold;
}

#works-list-h {
  clear: both;
}

.pic-content {
  margin: 1vw;
  padding: 1em;
  background-color:hsla(0, 0%, 100%, 0.5);
  border-radius: 1%;
}

.pic-content summary {
  margin: 0 6em 1em;
}

.pic-content figure {
  padding: 1.5em 3em 3em;
}

.pic-content picture {
  padding: 3em 1em;
}

.pic-img {
  width: 75vw;
  height: auto;
  border-radius: 1%;
}

.pic-img-vertical {
  width: auto;
  height: 75vh;
  border-radius: 1%;
}

.picture-btt {
  font-size: .75em;
  padding: 3em 0;
}

.pic_num4 {
  width: 75vw;
  border-radius: 1%;
  background:url('../media/picture-webp/tbovc.webp');
  background-size: 75vw;
  background-repeat: no-repeat;
}

.pic_num4:active {
  width: 75vw;
  border-radius: 1%;
  background:url('../media/picture-webp/tbovc_2.webp');
  background-size: 75vw;
  background-repeat: no-repeat;
}

.pic_num4 img {
  opacity: 0;
}

.document-date {
  text-align: right;
  font-size: 0.75em;
  line-height: 1.5em;
}

.item-headline {
  padding: 1.5em 3.5em;
}

.innner-list {
  margin: 0 8em 1.5em;
}

.innner-list_second {
  margin: 1.5em 1.5em;
}

.question-n-colon {
  margin: 0!important;
}

.question-n-colon::before {
  content: "Q:\a0";
}

.answer-n-colon {
  margin: 0 1.75em 3em;
}

.answer-n-colon::before {
  content: "A:\a0";
  position: absolute;
  margin-left: -1.25em;
}

#content-area {
  padding: 2em;
}

#content-area p {
  padding: 0 6em 1em;
}

.weblog-article-list {
  margin: 1em 0 4.5em 6em;
  padding: 1.5em 3.5em;
  height: 25em;
  width: 60vw;
  overflow-y: scroll;
  background-color: hsla(34, 78%, 91%, 0.5);
  border: hsl(135, 35%, 35%) solid thin;
}

.weblog-article-list li {
  padding-bottom: 1.5em;
}

.weblog-article-list p {
  margin: 2em;
  text-align: center;
}

.weblog-text {
  padding: 2em 2em 3em;
  background-color:  hsla(33, 78%, 91%, 0.85);
}

.weblog-text h1 {
  padding: 2em 2em 1em;
  font-size: xx-large;
}

.weblog-text h2 {
  padding: 2em 2em 1em;
  font-size: x-large;
}

.weblog-text h2::before {
  content:"\02014\00020";
}

.weblog-text h2::after {
  content:"\00020\02014";
}

.weblog-text p {
  padding: 1em 6em;
  line-height: 3.5em;
  text-indent: 1em;
}

.my-sign {
  margin-top: 3em;
  font-style: italic;
  text-align: right;
}

.blog-inner-player {
  margin: 1.5em 4.5em;
}

.poem_fig {
  margin-left: 3em;
  padding: 3em;
  width: fit-content;
  background-color: hsla(135, 35%, 75%, 0.25);
  border: 1em hsl(135, 35%, 75%) solid;
  border-radius: 1em;
}

.poem_fig  figure:hover {
  opacity: .95;
}

.column-flex {
  margin: 1.5em 3em 1em;
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.column-area {
  padding: 1em;
}

.column-item p {
  padding: 0!important;
}

.column-paragraph {
  margin-bottom: 30px;
}

.one-box {
  margin: 0 1.5em 1.5em;
  padding: 1.25em;
  width: 20vw;
  min-width: max-content;
  background-color: hsla(34, 78%, 91%, 0.5);
  border: .25em hsla(0, 0%, 0%, 0.25) solid;
  border-radius: 1em;
}

.two-box {
  margin: 0 1.5em 1.5em;
  padding: 1.25em;
  width: 35vw;
  min-width: 15vw;
  background-color: hsla(34, 78%, 91%, 0.5);
  border: .25em hsla(0, 0%, 0%, 0.25) solid;
  border-radius: 1em;
}

.three-box {
  margin: 0 1.5em 1.5em;
  padding: 1.25em;
  width: 20vw;
  min-width: max-content;
  background-color: hsla(34, 78%, 91%, 0.5);
  border: .25em hsla(0, 0%, 0%, 0.25) solid; 
  border-radius: 1em;
}

.four-box {
  margin: 0 1.5em 1.5em;
  padding: 1.25em;
  width: 20vw;
  min-width: max-content;
  background-color: hsla(34, 78%, 91%, 0.5);
  border: .25em hsla(0, 0%, 0%, 0.25) solid; 
  border-radius: 1em;
}

.wip-h {
  margin-top: 1em;
  font-weight: bold;
}

.update-area {
  padding: 1em;
}

.update-box {
  margin: 0 1.5em 1.5em;
  width: fit-content;
  min-width: max-content;
  height: fit-content;
  background-color: hsla(34, 78%, 91%, 0.5);
  border-radius: 1em 0 0 1em;
}

.ud-table-wrapper {
  padding: 1em;
  max-height: 30em;
  max-width: 75vw;
  border: .25em hsla(0, 0%, 0%, 0.25) solid;
  overflow-y: scroll;
  scrollbar-color: hsla(0, 0%, 0%, 0.25) hsla(0, 0%, 0%, 0);
  border-radius: 1em 0 0 1em;
}

.ud-table-wrapper::-webkit-scrollbar {
  width: 8px;
  background: hsla(0, 0%, 0%, 0);
}

.ud-table-wrapper::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 75%);
}

.ud-table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 55%);
}

.update-table {
  padding: .5em;
  font-size: .75em;
}

.update-table td {
  vertical-align: text-top;
}

.update-year {
  margin: .5em .25em;
  line-height: 5em;
  text-indent: .75em;
  border-top: .25em hsla(0, 0%, 0%, 0.25) dotted;
  border-bottom: .25em hsla(0, 0%, 0%, 0.25) dotted;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.update-date {
  width: 7.75em;
  padding: .5em;
  font-family: 'Courier New', Courier, monospace;
}

.update-content {
  padding: 0 1em;
  border-left: .25em hsla(0, 0%, 0%, 0.25) dotted;
  font-family: sans-serif;
}

.tab-wrap {
  margin: 1em 3.5em;
  height: fit-content;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.tab-label {
  margin: .5em .5em 1em;
  padding: 1em .5em;
  width: 100px;
  order: -1;
  position: relative;
  color: White;
  background: hsla(0, 0%, 0%, 0.35);
  border-radius: 1em;
  white-space: nowrap;
  text-align: center;
  font-size: .75em;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  transition: 128ms;
}

.tab-label:hover {
  color: White;
  background: hsla(0, 0%, 0%, 0.5);
}

.tab-content {
  margin: 0 1em 3em;
  background: hsla(0, 0%, 100%, 0.5);
  border-radius: 1em;
}

.tab-switch:checked+.tab-label {
  color: hsla(0, 0%, 0%, 0.75);
  background: hsla(0, 0%, 100%, 0.5);
}

.tab-switch:checked+.tab-label+.tab-content {
  padding: 1em;
  width: calc(100% - 150px);
  height: 100%;
  display: block;
}

.tab-switch,
.tab-content {
  display: none;
}

.enlarge-img {
  font-size: .75em;
  text-align: right;
}

.enlarge-img a::after {
  content: url(../media/svg-icon/open-in-new-tab.svg);
  margin-left: 5px;
}

.back-top {
  height: fit-content;
  margin: 0 3em;
  padding: 1.5em 3em;
  font-size: .75em;
  background-color: hsla(0, 0%, 100%, 0.75);
  display: flex;
  flex-direction: column;
}

.back-index {
  height: fit-content;
  padding: 1.5em 3em;
  font-size: .75em;
  background-color: hsl(135, 35%, 75%);
  display: flex;
  flex-direction: column;
}

.back-cat-index a::before {
  width: 1.5em;
  float: left;
  padding-right: .25em;
  text-align: right;
  content: "\3c";
}

.back-root-index a::before {
  width: 1.5em;
  float: left;
  padding-right: .25em;
  text-align: right;
  content: "\3c\3c";
}

.back-page-top a::before {
  width: 1.5em;
  float: left;
  padding-right: .25em;
  text-align: right;
  content: "\2191";
}

.back-page-top-button {
  margin: 7em 3em;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: hsl(135, 15%, 35%);
  border: hsla(135, 15%, 35%, .5) solid .25em;
  border-radius: 100%;
  text-align: center;
  transition: .5s;
}

.back-page-top-button a {
  display: block;
  font-size: 1em;
}

.back-page-top-button:hover {
  opacity: .75;
}

.back-page-top-button a::before {
  content: url(../media/svg-icon/backtopagetop.svg);
}

.go-page-fin a::before {
  width: 1.5em;
  float: left;
  padding-right: .25em;
  text-align: right;
  content: "\2191";
}

.go-page-fin-button {
  margin: 3em;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: hsl(135, 15%, 35%);
  border: hsla(135, 15%, 35%, .5) solid .25em;
  border-radius: 100%;
  text-align: center;
  transition: .5s;
}

.go-page-fin-button a {
  display: block;
  font-size: 1em;
}

.go-page-fin-button:hover {
  opacity: .75;
}

.go-page-fin-button a::before {
  content: url(../media/svg-icon/gotopagefin.svg);
}

footer nav {
  padding-bottom: 2.5em;
}

.footer-nav {
  display: flex;
  list-style-type: none;
  font-size: .75em;
}

.footer-nav li:not(:first-child) {
  padding-left: 1.5em;
}

.footer-nav li:before {
  padding-right: 5px;
  content: "\25B8";
  color: hsl(135, 35%, 25%);
  font-weight: bold;
}

#page-end {
  margin: 1em;
}

#page-end::after {
  padding: 1em;
  content: "}";
  font-size: 2.5em;
  font-family: 'Times New Roman', Times, serif;
  color: hsla(135, 15%, 35%, .25);
}

figcaption {
  padding: 1em;
}

.site-logo-img img {
  width: 100%;
  max-width: fit-content;
  padding-bottom: 1.5em;
}

.address-box {
  padding: 5em!important;
  margin: 1em 6em 3em;
  width: fit-content;
  display: block;
  font-style: italic;
  color: hsla(0, 0%, 0%, 0.5);
  background-color: hsla(34, 78%, 91%, 0.5);
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.address-box::after {
  content: "\a0 miyatakehtml [at] gmail.com";
  color: hsl(0, 0%, 0%);
}

.others-music {
  width: 80vw;
  padding: 0 6em;
}

.sp-text {
  display: none;
}

.file_list {
  margin: 3em 0;
  padding: 0 10em;
}

.inline_img {
  margin: 1.5em 0;
  display: inline;
  width: 35vw;
  height: auto;
}

.copyright,
.released-year,
.song-type,
.pic-img,
.inline_img {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  pointer-events: none;
	-webkit-touch-callout: none;
}

#fixed-menu, #site-title, .my-sign {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
	-webkit-touch-callout: none;
}

.question-pointer {
  cursor: help;
}