@charset "utf-8";

.song-list {
  padding: 3em;
}

.released-year, .song-type {
  padding: 1em 1em 0;
  text-align: right;
  color: hsla(0, 0%, 0%, 0.5);
}

.year-desc {
  font-size: 1em;
  padding: 0 3em;
}

.artist-name {
  list-style: none;
  list-style-position: inside;
  font-weight: bold;
}

.artist-name:not(:first-child) {
  margin-top: 3em;
}

.type-name {
  list-style: none;
  list-style-position: inside;
  font-weight: bold;
}

.type-name:not(:first-child) {
  margin-top: 3em;
}

.song-list-title {
  list-style-type: disc;
  list-style-position: inside;
  font-weight: normal;
}

#song-content {
  padding: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

.song-title {
  font-family: Arial, Helvetica, sans-serif;
}

.song-title::before {
  content: "\266b";
}

.song-part {
  margin: 3em;
  padding: 3em;
  width: fit-content;
  background-color: hsla(135, 35%, 75%, 0.25);
  border: 1em hsl(135, 35%, 75%) solid;
  border-radius: 1em;
}

.related-content-list {
  margin: 0 6em 6em;
  list-style-type: disc;
  list-style-position: inside;
  font-weight: normal;
}

.audio_cap {
  font-size: 0.75em;
}

.audio_cap::before {
  content: "\266b\a0";
}

.audio_figure {
  padding: 1em;
}

.video_cap {
  font-size: 0.75em;
}

.video_cap::before {
  content: "\25B6\FE0E\a0\a0";
}

.video_figure {
  padding: 1em;
}

.video_figure video {
  margin-top: 1em;
  height: 270px;
}

.video-drive {
  padding: 1em!important;
}

.video-drive::before {
  content: "\25B6\FE0E\a0\a0";
}

.drive-summary {
  margin-top: 1.5em;
  padding-left: 1em!important;
  padding-right: 1em!important;
  font-size: .75em;
}

.video-title {
  font-family: Arial, Helvetica, sans-serif;
}

.video-title::before {
  content: "\25B6\FE0E";
}

.controls {
  width: fit-content;
  margin: 1em 1em 3.5em;
  padding: 1em;
  display: flex;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.25);
  border-radius: 1em;
  font-size: 0.75em;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.index-controls {
  margin-bottom: .5em;
}

.full-width {
  width: 100%;
}

#play {
  margin-left: 1.5em;
  padding: 0.25em;
  width: 4em;
  background: linear-gradient(hsla(135, 35%, 75%, 0.5), hsl(135, 35%, 75%)) no-repeat hsla(135, 100%, 90%);
  text-align: center;
  cursor: pointer;
  border-radius: 7.5px;
  float: left;
}

#stop {
  margin-left: 1em;
  padding: 0.25em;
  width: 3em;
  background: linear-gradient(hsla(135, 35%, 75%, 0.5), hwb(135 66% 16%)) no-repeat hsla(135, 100%, 90%);
  text-align: center;
  cursor: pointer;
  border-radius: 7.5px;
  float: left;
}

#play:hover,
#stop:hover {
  background: linear-gradient(hsla(135, 45%, 75%, 0.5), hsl(135, 45%, 75%)) no-repeat hsla(135, 100%, 96%);
  cursor: pointer;
}

#time {
  width: 100px;
  color: hsla(0, 0%, 0%, 0.75);
}

#current::after {
  content: "\a0/\a0";
}

#seekbar {
  width: 256px;
  height: 15px;
  margin: 2em;
  border-radius: 5px;
  background: linear-gradient(hsla(135, 35%, 75%, 0.5), hsl(135, 35%, 75%)) no-repeat hsla(135, 100%, 96%, 0.5);
  float: left;
  cursor: pointer;
  transition: .5s;
}

.full-width {
  width: 100%!important;
}

#artworks-title {
  padding: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

#lyrics-title {
  padding: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

.lyrics_fig {
  margin-left: 3em;
  padding: 3em;
  width: fit-content;
  background-color: hsla(135, 35%, 75%, 0.25);
  border: 1em hsl(135, 35%, 75%) solid;
  border-radius: 1em;
}

.lyrics_fig  figure:hover {
  opacity: .75;
}

.artworks_fig {
  margin-left: 3em;
  padding: 3em;
  width: fit-content;
  background-color: hsla(135, 35%, 75%, 0.25);
  border: 1em hsl(135, 35%, 75%) solid;
  border-radius: 1em;
}

.artwork_cap {
  font-size: 0.75em;
}

.img-classics img {
  margin-top: 3em;
  margin-right: 1em;
  max-height: 157px;
}

.img-classics a img:hover {
  opacity: .75;
}

/* for SP */
@media screen and (max-width:768px) {
  .song-list {
    padding: 1em;
    font-size: 0.75em;
  }

  .song-list li {
    font-size: 1em;
  }

  .year-desc {
    font-size: 1em;
    padding: 1em;
  }

  .released-year, .song-type {
    padding: 1em 1em 0;
    text-align: right;
    font-size: 0.75em;
    color: hsla(0, 0%, 0%, 0.5);
  }

  .artist-name {
    list-style: none;
    list-style-position: inside;
    font-weight: bold;
  }

  .artist-name:not(:first-child) {
    margin-top: 3em;
  }

  .type-name {
  list-style: none;
  list-style-position: inside;
  font-weight: bold;
  }

  .type-name:not(:first-child) {
    margin-top: 3em;
  }

  .song-list-title {
    list-style-position: inside;
    font-weight: normal;
  }

  .song-list-title li {
    margin-top: 1.25em;
  }

  #song-content {
    padding: 3em 1em 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
  }

  .song-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
  }

  .song-title::before {
    content: "\266b";
  }

  .song-part {
    margin: 1.5em 0 1.5em;
    padding: 1.5em;
    background-color: hsla(135, 35%, 75%, 0.25);
    border: 0.5em hsl(135, 35%, 75%) solid;
    border-radius: 1em;
  }

  .related-content-list {
    margin: 0 3em 2em;
    list-style-type: disc;
    list-style-position: inside;
    font-size: .85em;
  }

  .audio_cap {
    font-size: 0.6em;
  }

  .audio_cap::before {
    content: "\266b\a0";
  }

  .audio_figure {
    padding: 1em 1em 0;
  }

  .index-figure {
    margin-top: -1em;
  }

  .video_cap {
    font-size: 0.6em;
  }

  .video_cap::before {
    content: "\25B6\FE0E\a0\a0";
  }

  .video_figure {
    padding: 1em .25em;
  }

  .video_figure video {
    width: 58vw;
    height: auto;
    min-width: 230px;
  }

  .video-drive {
    padding-top: 2em!important;
  }

  .video-drive::before {
    content: "\25B6\FE0E\a0\a0";
  }

  .drive-summary {
    margin-top: 0;
    padding-left: 1em!important;
    padding-right: 1em!important;
    font-size: .75em;
  }

  .controls {
    margin: 1em 1em 3em;
    display: inline-block;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
  }

  .index-controls {
    margin-bottom: .5em;
  }

  .full-width {
    max-width: fit-content!important;
  }

  #play {
    margin: 1.75em .5em;
    padding: .5em;
    width: 4.15em;
    background: linear-gradient(hsla(135, 35%, 75%, 0.5), hsl(135, 35%, 75%)) no-repeat hsla(135, 100%, 90%);
    text-align: center;
    font-size: 1.25em;
    cursor: pointer;
    border-radius: 7.5px;
  }

  #stop {
    margin: 1.75em .5em;
    padding: .5em;
    width: 4.15em;
    background: linear-gradient(hsla(135, 35%, 75%, 0.5), hwb(135 66% 16%)) no-repeat hsla(135, 100%, 90%);
    text-align: center;
    font-size: 1.25em;
    cursor: pointer;
    border-radius: 7.5px;
  }

  #play:hover,
  #stop:hover {
    background: linear-gradient(hsla(135, 45%, 75%, 0.5), hsl(135, 45%, 75%)) no-repeat hsla(135, 100%, 96%);
    cursor: pointer;
  }

  #time {
    margin: 4.15em auto 1em;
    width: fit-content;
    height: 2em;
    font-size: 1.5em;
    color: hsla(0, 0%, 0%, 0.75);
  }

  #current::after {
    content: "\a0/\a0";
  }

  #seekbar {
    display: none;
  }

  #artworks-title {
    padding: 2em 1em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
  }

  #lyrics-title {
    padding: 2em 1em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
  }

  .lyrics_fig {
    margin-left: 0;
    padding: 1em;
    width: fit-content;
    background-color: hsla(135, 35%, 75%, 0.25);
    border: 0.5em hsl(135, 35%, 75%) solid;
    border-radius: 1em;
  }

  .lyrics_fig figure:hover {
    opacity: .75;
  }

  .artworks_fig {
    margin-left: 0;
    padding: 1em;
    width: fit-content;
    background-color: hsla(135, 35%, 75%, 0.25);
    border: 0.5em hsl(135, 35%, 75%) solid;
    border-radius: 1em;
  }

  .artwork_cap {
    font-size: 0.75em;
  }

  .img-classics img {
    margin-left: 0!important;
    max-height: 128px;
  }

  .img-classics a img:hover {
    opacity: .75;
  }
}