@charset "utf-8";

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body, header, main, footer, article, section {
    background-color: hsla(135, 35%, 75%, 0.25);
}

header {
    padding: 3em 2.5em 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    padding: 3em 2.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.page-bar {
    padding: 0.25em;
    background-color: hsla(135, 15%, 35%);
}

.page-separate {
    padding: 0.25em;
    background-color: hsla(135, 35%, 75%, 0.5);
}

a, a:visited, a:active {
    color: hsl(135, 35%, 25%);
}

a:hover {
    color: hsl(135, 35%, 35%);
}

#site-title {
    padding-bottom: 0.5em;
    font-size: 1em;
}

#site-title a {
    color: hsl(135, 35%, 25%);
    text-decoration: none;
}

#site-title a:hover {
    text-decoration: underline;
}

#site-uri, #contact-address {
    color: hsla(0, 0%, 0%, 0.75);
    font-size: 0.75em;
    font-family: 'Courier New', Courier, monospace;
}

#contact-address::after {
    content: "miyatakehtml [at] gmail.com";
}

#breadcrumb-list {
    display: none;
}

#fixed-menu {
    width: fit-content;
    min-width: 250px;
    padding: 0.75em 0 0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
}

#fixed-menu ul {
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
    list-style: none;
    position: relative;
}

.svgicon {
    padding: 1em;
    font-size: 0.75em;
}

.home-icon a::before {
    content: url(../media/svg-icon/home.svg);
    position: absolute;
    bottom: 2em;
}

.music-icon a::before {
    content: url(../media/svg-icon/music.svg);
    position: absolute;
    bottom: 2em;
}

.weblog-icon a::before {
    content: url(../media/svg-icon/weblog.svg);
    position: absolute;
    bottom: 2em;
}

.contact-icon a::before {
    content: url(../media/svg-icon/contact.svg);
    position: absolute;
    bottom: 2em;
}

#page-title {
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

#content-area {
    padding: 1.5em;
}

#content-area p {
    padding: 1em;
    font-size: 0.75em;
}

#update-area {
    padding-left: 1em;
    padding-top: 3em;
    padding-bottom: 1.5em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.update-box {
    margin-left: 3em;
    margin-bottom: 15em;
    padding: 1em;
    width: fit-content;
    background-color: hsla(34, 78%, 91%, 0.5);
}

.update-list {
    list-style: inside;
    font-size: 0.75em;
}

figcaption {
    padding: 1em;
}

.address-box {
    padding: 1em;
    margin: 5em auto 15em;
    width: fit-content;
    display: block;
    font-style: italic;
    color: hsla(0, 0%, 0%, 0.5);
    background-color: hsla(34, 78%, 91%, 0.5);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.address-box::after {
    content:"\a0 miyatakehtml [at] gmail.com";
    color: hsl(0, 0%, 0%);
}