@charset "utf-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body,
header,
main,
footer,
article,
section {
  background-color: hsla(135, 35%, 75%, 0.25);
  min-width: 250px;
}

header {
  padding: 3em 2.5em 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  padding: 1em 1.5em;
  color: hsla(0, 0%, 0%, 0.75);
  font-size: 0.75em;
  font-family: 'Courier New', Courier, monospace;
}

.page-bar {
  padding: .25em;
  background-color: hsla(135, 15%, 35%);
}

.page-separate {
  padding: .1em;
  background-color: hsla(135, 35%, 75%, 0.5);
}

a,
a:visited,
a:active {
  color: hsl(135, 35%, 25%);
}

a:hover {
  color: hsl(135, 35%, 35%);
}

.monospacing,
.monospacing p {
  padding: 0 1em !important;
  font-size: 0.8em;
  font-family: 'Courier New', Courier, monospace;
}

#site-title {
  padding-bottom: .5em;
  font-size: 1em;
}

#site-title a {
  color: hsl(135, 35%, 25%);
  text-decoration: none;
}

#site-title a:hover {
  text-decoration: underline;
}

#site-uri,
#contact-address {
  color: hsla(0, 0%, 0%, 0.75);
  font-size: 0.75em;
  font-family: 'Courier New', Courier, monospace;
}

#contact-address::after {
  content: "miyatakehtml [at] gmail.com";
}

#breadcrumb-list {
  padding: .5em 1em;
  font-size: 0.75em;
  background-color: hsl(135, 35%, 75%);
}

#breadcrumb-list ol {
  display: flex;
  flex-direction: column;
  list-style: none;
}

#breadcrumb-list li.child-bc::after {
  content: "年発表の作品";
}

#breadcrumb-list li.first-bc {
  padding-left: 0.75em;
}

#breadcrumb-list li.first-bc::before {
  content: "\2514\a0";
}

#breadcrumb-list li.second-bc {
  padding-left: 1.5em;
}

#breadcrumb-list li.second-bc+li.second-bc::before {
  content: "\a0\266b\a0";
}

#fixed-menu {
  width: fit-content;
  min-width: 250px;
  padding: 0.75em 0 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 1em;
}

#fixed-menu ul {
  margin-top: 3em;
  display: flex;
  justify-content: space-around;
  list-style: none;
  position: relative;
}

.svgicon {
  padding: 1em;
  font-size: 0.75em;
}

.home-icon a::before {
  content: url(../media/svg-icon/home.svg);
  position: absolute;
  bottom: 2em;
}

.music-icon a::before {
  content: url(../media/svg-icon/music.svg);
  position: absolute;
  bottom: 2em;
}

.picture-icon a::before {
  content: url(../media/svg-icon/picture.svg);
  position: absolute;
  bottom: 2em;
}

.weblog-icon a::before {
  content: url(../media/svg-icon/weblog.svg);
  position: absolute;
  bottom: 2em;
}

.contact-icon a::before {
  content: url(../media/svg-icon/contact.svg);
  position: absolute;
  bottom: 2em;
}

#page-title {
  padding-left: .5em;
  padding-top: .5em;
  padding-bottom: 1em;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

#content-list {
  margin-bottom: -1em;
}

.page-headline-large {
  padding: 2em 1em 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.page-headline-small {
  padding: 0 1em 1em;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.question-n-colon {
  margin: 0.5em 0.5em 0;
  font-weight: normal;
}

.question-n-colon::before {
  content: "Q:\a0";
}

.answer-n-colon {
  margin: 0 1em 0 3em;
}

.answer-n-colon::before {
  content: "A:\a0";
  position: absolute;
  margin-left: -1.25em;
}

#content-area {
  padding: 1.5em;
}

#content-area p {
  padding: 1em;
  font-size: 0.75em;
}

.weblog-text {
  padding: 0 1em 8.5em;
}

.weblog-text h1 {
  padding: 0 .5em 1em;
  font-size: 1.5em;
}

.weblog-text p {
  padding: .5em 1em;
  font-size: 1em;
  line-height: 1.5em;
  text-indent: 1em;
}

.my-sign {
  margin-top: 3em;
  font-size: 1em;
  font-style: italic;
  text-align: right;
}

.column-flex {
  margin: 1em .5em 5em;
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
}

.column-area {
  padding-left:.5em;
  padding-top: 2em;
  padding-bottom: 1em;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.column-item p {
  padding-left: 0!important;
}

.one-box {
  margin: 0 .25em;
  width: fit-content;
  background-color: hsla(34, 78%, 91%, 0.5);
  padding: 1.25em;
  border: 3px hsla(0, 0%, 0%, 0.25) solid;
}

.two-box {
  margin: 0 .25em;
  width: fit-content;
  background-color: hsla(34, 78%, 91%, 0.5);
  padding: 1.25em;
  border: 3px hsla(0, 0%, 0%, 0.25) solid;
}

.three-box {
  margin: 0 .25em;
  width: fit-content;
  background-color: hsla(34, 78%, 91%, 0.5);
  padding: 1.25em;
  border: 3px hsla(0, 0%, 0%, 0.25) solid;
}

.update-box {
  margin: 0 .25em;
  width: fit-content;
  background-color: hsla(34, 78%, 91%, 0.5);
  font-size: .75em;
  border: 3px hsla(0, 0%, 0%, 0.25) solid;
}

.update-table {
  padding: .5em;
  table-layout: fixed;
  width: fit-content;
}

.update-table td {
  padding: .5em;
  vertical-align: top;
}

.update-date {
  width: 3.5em;
  font-family: 'Courier New', Courier, monospace;
}

.update-content {
  border-left: .25em hsla(0, 0%, 0%, 0.25) dotted;
  padding-left: 1em !important;
  font-family: sans-serif;
}

.tab-wrap {
  margin: 0 auto;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.tab-label {
  margin: .75em;
  padding: 1em;
  width: fit-content;
  order: -1;
  position: relative;
  z-index: 1;
  float: left;
  color: White;
  background: hsla(0, 0%, 0%, 0.35);
  border-radius: 1em;
  white-space: nowrap;
  text-align: center;
  font-size: .5em;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.tab-content {
  margin: .5em 0 0;
  padding: 0.75em .25em;
  width: 100vw;
  background: hsla(0, 0%, 100%, 0.5);
  border-radius: 1em;
}

.tab-switch:checked+.tab-label {
  color: hsla(0, 0%, 0%, 0.75);
  background: hsla(0, 0%, 100%, 0.5);
}

.tab-switch:checked+.tab-label+.tab-content {
  padding: 1em;
  height: 100%;
  display: block;
}

.tab-switch,
.tab-content {
  display: none;
}

.enlarge-img {
  font-size: .75em;
  text-align: right;
}

.enlarge-img a::after {
  content: url(../media/svg-icon/open-in-new-tab.svg);
  margin-left: 5px;
}

.back-cat-index {
  padding: .5em 1.5em;
  font-size: .75em;
  background-color: hsl(135, 35%, 75%);
}

.back-cat-index>p::before {
  padding-right: .5em;
  content: "\226A";
}

figcaption {
  padding: 1em;
}

.address-box {
  padding: 1em;
  margin: 3.5em auto;
  width: fit-content;
  display: block;
  font-style: italic;
  color: hsla(0, 0%, 0%, 0.5);
  background-color: hsla(34, 78%, 91%, 0.5);
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.address-box::after {
  content: "\a0 miyatakehtml [at] gmail.com";
  color: hsl(0, 0%, 0%);
}

.copyright,
#site-uri,
.released-year {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}