@charset "utf-8";

@font-face {
  font-family: "Noto Sans JP";
  src:
    url("../fonts/NotoSansJP-VariableFont_wght.ttf") format("woff");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: hsla(135, 15%, 35%);
}

header,
main,
footer,
article {
  background-color: hsla(135, 100%, 95%, 0.75);
}

section {
  background-color: hsla(135, 100%, 98%, 0.75);
}

header {
  padding: 3em 2.5em 3em;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  padding: 1.5em;
  color: hsla(0, 0%, 0%, 0.75);
  font-size: 0.75em;
  font-family: 'Courier New', Courier, monospace;
}

.page-bar {
  padding: .25em;
  background-color: hsla(135, 15%, 35%);
}

.page-separate {
  padding: .1em;
  background-color: hsla(135, 35%, 75%, 0.5);
}

.column-image {
  margin: 1em 1em 0;
  padding: 0 !important;
}

.column-image img {
  width: 100%;
  height: auto;
  border-radius: 1em;
}

.open-in-new-tab::after {
  content: url(../media/svg-icon/open-in-new-tab.svg);
  margin-left: 3px;
}

a,
a:visited,
a:active {
  color: hsl(135, 35%, 25%);
}

a:hover {
  color: hsl(135, 35%, 35%);
}

hr {
  margin: 1.5em auto;
  height: 1.5px;
  width: 80vw;
  border-style: none;
  border-radius: 1.5px;
  background-color: hsla(135, 35%, 35%, 0.25);
}

.document-rule {
  margin: 1.5em auto;
  height: 3px;
  width: 100%;
  border-style: none;
  border-radius: 1.5px;
  background-color: hsla(135, 35%, 35%, 0.25);
}

.sec-dotted-rule {
  margin: 1.5em auto 0;
  width: 50vw;
  border: none;
  border-top: 3px dotted hsl(135, 35%, 25%);
  border-radius: unset;
  color:hsl(135, 35%, 25%);
  background-color: unset;
  overflow: visible;
  text-align: center;
  height: 1.5em;
}

.sec-dotted-rule::after {
  font-family: 'Courier New', Courier, monospace;
  color: hsla(0, 0%, 100%, 0.85);
  background: hsl(135, 35%, 25%);
  border-radius: 100%;
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -1em;
}

summary {
  margin: 1em;
  color: hsl(135, 35%, 25%);
  font-size: .75em;
  font-weight: bold;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

summary span {
  text-decoration: underline solid 2px hsl(135, 35%, 35%);
}

summary:hover {
  color: hsl(135, 35%, 35%);
  cursor: pointer;
  transition: 16ms;
}

.bold-font {
  font-weight: bold;
}

.spacing-font {
  padding: 0 .25em;
  font-family: Arial, Helvetica, sans-serif;
}

.solid-under-line {
  text-decoration: underline solid 1px hsl(135, 35%, 35%);
}

.dotted-under-line {
  text-decoration: underline dotted 1.5px hsl(135, 35%, 35%);
}

.hyphenated::before {
  content: "\a0\a0-\a0\a0";
}

.down-arrow-mark {
  text-decoration: none;
}

.down-arrow-mark::before {
  content: "\FF3B\2193\FF3D";
}

.monospacing {
  padding: 0 1em 1em!important;
  font-size: .8em;
  font-family: 'Courier New', Courier, monospace;
}

.monospacing p {
  padding: 0 1em !important;;
  font-size: .8em;
  font-family: 'Courier New', Courier, monospace;
}

.opacity-font {
  opacity: .5;
  display: unset!important;
}

::-moz-selection {
  text-shadow: 0 0 5px hsla(135, 35%, 35%);
}

::selection {
  text-shadow: 0 0 5px hsla(135, 35%, 35%);
}

blockquote {
  margin: 1em 3em;
  padding: 1em .5em;
  border-left: 4px solid hsla(0, 0%, 0%, 0.5);
  color: hsl(0, 0%, 20%);
  background-color: hsla(0, 0%, 0%, 0.125);
  font-style: italic;
}

blockquote:has(cite) {
  padding: 1.5em .5em 2em;
}

blockquote p::before {
  content: "\201C";
  font-weight: bold;
}

blockquote p::after {
  content: "\201D";
  font-weight: bold;
}

cite {
  margin: 1em 1.5em;
  display: block;
  color: hsl(0, 0%, 45%);
  font-size: .8em;
  text-align: right;
}

cite::before {
  content: "出典：";
}

.site-index-image {
  width: 100%;
  height: auto;
  display: block;
  content: url("../media/sysmiyatake_wide.png");
}

.top-pic-thumb {
  margin: 1em;
  padding: 0!important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
  justify-items: center;
  align-items: center; 
}

.top-pic-thumb img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: 1.5s;
  border-radius: 15px;
}

.weblog-jacket-image {
  width: 100%;
  height: auto;
  display: block;
  content: url("../media/weblog_jacket.webp");
}

.weblog-summary {
  margin: 0 .75em;
}

article p::selection {
  color: hsl(0, 0%, 100%);
  background-color: hsl(135, 15%, 35%);
}

article span::selection {
  color: hsl(0, 0%, 100%);
  background-color: hsl(135, 15%, 35%);
}

article a::selection {
  color: hsl(0, 0%, 100%);
  background-color: hsl(135, 15%, 35%);
}

article h1::selection {
  color: hsl(0, 0%, 100%);
  background-color: hsl(135, 15%, 35%);
}

article h2::selection {
  color: hsl(0, 0%, 100%);
  background-color: hsl(135, 15%, 35%);
}

article ul ol li::selection {
  color: hsl(0, 0%, 100%);
  background-color: hsl(135, 15%, 35%);
}

article summary::selection {
  color: hsl(0, 0%, 100%);
  background-color: hsl(135, 15%, 35%);
}

.centering-wrap {
  text-align: center;
}

.centering-wrap p {
  font-size: .85em!important;
  text-indent: 0!important;
}

.centering-wrap ul {
  margin: 1em;
  text-align: left;
  font-size: .85em;
  line-height: unset!important;
}

.centering-wrap li:not(:first-child) {
  margin-top: 1em;
}

.weblog-info {
  margin: 0 1.5em;
  text-indent: 0!important;
  font-size: .75em!important;
}

.weblog-det {
  margin: 2em 1.5em;
  font-size: .85em;
}

.weblog-det summary {
  font-size: 1em;
}

.weblog-det ul {
  line-height: unset!important;
}

.weblog-inn {
  margin: 0;
}

.weblog-note {
  margin: 2.5em .5em 1em;
  padding: .5em!important;
  text-align: center;
  font-size: 1em!important;
  color: hsla(0, 0%, 100%, 0.95);
  background-color: hsla(5, 84%, 15%, .55);
  border-left: 1em solid hsla(0, 0%, 0%, 0.5);
  border-right: 1em solid hsla(0, 0%, 0%, 0.5);
  border-radius: 1em;
}

.note-title {
  margin: 2em .75em 1em;
  padding: 0 1em!important;
  text-indent: 0!important;
  font-weight: bold;
  background-color: hsla(135, 6%, 38%, 0.25);
  border-left: .5em solid hsl(135, 35%, 25%);
}

.note-font {
  padding-bottom: 0!important;
  text-indent: 0!important;
  font-weight: bold;
}

.note-subtitle {
  margin-left: .25em;
  text-indent: 0!important;
  font-weight: bold;
}

.inner-list {
  padding: 0 1em!important;
}

.spacious {
  margin-left: .5em;
  margin-right: .5em;
  text-indent: 0!important;
}

#site-header {
  position: relative;
  margin-left: 68px;
}

#site-header::before {
  content: url(../media/svg-icon/logo_sp.svg);
  position: absolute;
  margin-left: -64px;
  margin-top: 4px;
}

#site-title {
  padding: .5em 0 .25em;
  font-size: .75em;
}

#site-title a {
  color: hsl(135, 35%, 25%);
  text-decoration: none;
}

#site-title a:hover {
  text-decoration: underline;
}

#site-uri,
#contact-address {
  color: hsla(0, 0%, 0%, 0.75);
  font-size: .65em;
  font-family: 'Courier New', Courier, monospace;
}

#contact-address::after {
  content: "miyatakehtml [at] gmail.com";
}

#breadcrumb-list {
  padding: .5em 1em;
  font-size: 0.75em;
  background-color: hsl(135, 35%, 75%);
}

#breadcrumb-list ol {
  display: flex;
  flex-direction: column;
  list-style: none;
}

#breadcrumb-list li.child-bc::after {
  content: "年発表の作品";
}

#breadcrumb-list li.first-bc {
  padding-left: 0.75em;
  font-weight: bold;
}

#breadcrumb-list li.first-bc::before {
  content: "\2514\a0";
  font-family:'Times New Roman', Times, serif;
}

#breadcrumb-list li.second-bc {
  padding: 0 2.5em;
}

#breadcrumb-list li.second-bc+li.second-bc::before {
  content: "\a0\266b\a0";
}

#fixed-menu {
  margin: 15em 1em;
  padding: .5em;
  top: 0;
  right: 0;
  display: flex;
  position: fixed;
  z-index: 2;
  background-color: hsla(34, 78%, 91%, 0.75);
  border: .25em hsla(0, 0%, 0%, 0.25) solid; 
  border-radius: 1em;
}

.fixed-menu-toggle {
  margin: 1.5em 1em;
  padding: .5em;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 3;
  background-color: hsla(34, 78%, 91%, 0.75);
  border: .25em hsla(0, 0%, 0%, 0.25) solid; 
  border-radius: 1em;
}

#fixed-menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.svgicon {
  padding: .75em .5em;
  font-size: .75em;
}

.home-icon a::before {
  content: url(../media/svg-icon/home.svg);
  padding-right: .5em;
}

.music-icon a::before {
  content: url(../media/svg-icon/music.svg);
  padding-right: .5em;
}

.picture-icon a::before {
  content: url(../media/svg-icon/picture.svg);
  padding-right: .5em;
}

.weblog-icon a::before {
  content: url(../media/svg-icon/weblog.svg);
  padding-right: .5em;
}

.document-icon a::before {
  content: url(../media/svg-icon/document.svg);
  padding-right: .5em;
}

.others-icon a::before {
  content: url(../media/svg-icon/others.svg);
  padding-right: .5em;
}

.information-icon a::before {
  content: url(../media/svg-icon/information.svg);
  padding-right: .5em;
}

.contact-icon a::before {
  content: url(../media/svg-icon/contact.svg);
  padding-right: .5em;
}

/* index.html only */
.music-top-icon a::before {
  content: url(../media/svg-icon/music.svg);
  padding-right: .25em;
}

.picture-top-icon a::before {
  content: url(../media/svg-icon/picture.svg);
  padding-right: .25em;
}

.weblog-top-icon a::before {
  content: url(../media/svg-icon/weblog.svg);
  padding-right: .25em;
}

.others-top-icon a::before {
  content: url(../media/svg-icon/others.svg);
  padding-right: .5em;
}
/* fin -- index.html only */

.news-box {
  margin: 0 .25em;
  padding: 1.25em;
  width: fit-content;
  height: 6em;
  max-height: 80vh;
  background-color: hsla(34, 78%, 91%, 0.5);
  border: 3px hsla(0, 0%, 0%, 0.25) solid;
  border-radius: 1em 0 0 1em;
  overflow-y: scroll;
  scrollbar-color: hsla(0, 0%, 0%, 0.25) hsla(0, 0%, 0%, 0);
}

.news-box p {
  margin-bottom: 1em;
}

#page-title {
  padding-left: .5em;
  padding-top: .5em;
  padding-bottom: 1em;
  font-size: 1.5em;
}

#page-title::after {
  content: "\a0{";
  color: hsla(135, 15%, 35%, .25);
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
}

.strict-content::after {
  content: ""!important;
}

#content-list, #content-list-ii, #content-list-iii {
  margin-bottom: -1em;
}

.page-headline-xlarge {
  padding: 1.5em 0em 1.5em;
  font-size: 1.5em;
}

.page-headline-large {
  padding: 1.5em 1em;
  font-size: 1em;
}

.page-headline-middle {
  padding: 1em 2em;
  font-size: 1em;
}

.page-headline-small {
  padding: 0 2em 1em;
  font-size: 1em;
}

.pic-garally {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.garally-wrapper {
  padding: 0;
  width: 100%;
  height: auto;
  border-radius: 100%;
  border-spacing: 0;
  overflow: hidden;
  float: left;
}

img.garally-img {
  display: block; 
  width: 100%;
  height: auto;
  transition: 1.5s;
  border-radius: 100%;
}

img.garally-img:hover {
  opacity: .95;
  transform: scale(1.3);
  transition: .25s;
}

.works-list {
  padding: 1em 3em;
  font-size: .75em;
  line-height: 2.25em;
}

#works-list-h {
  clear: both;
}

.pic-content {
  padding: 1vw;
  background-color:hsla(0, 0%, 100%, 0.5);
  border-radius: 15px;
}

.pic-content figure {
  padding: 1em;
  font-size: .75em;
  text-align: center;
}

.pic-content picture {
  padding: 1em;
  font-size: .75em;
}

.pic-img {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  max-width: 75vw;
  border-radius: 5px;
  transition: 1.5s;
}

.pic-img-vertical {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  max-width: 75vw;
  border-radius: 5px;
  transition: 1.5s;
}

.pic_num4 {
  background:url('../media/picture-webp/tbovc.webp');
  background-size: contain;
  background-repeat: no-repeat;
}

.pic_num4:active {
  background:url('../media/picture-webp/tbovc_2.webp');
  background-size: contain;
  background-repeat: no-repeat;
}

.pic_num4 img {
  width: 75vw;
  height: auto;
  opacity: 0;
  aspect-ratio: 3350/2513;
}

.document-date {
  margin: .5em 0 1.5em;
  text-align: right;
}

.item-headline {
  padding: .5em;
  font-size: 1em;
}

.innner-list {
  margin: .5em 2em;
  font-size: .75em;
}

.innner-list_second {
  margin: .5em 2em;
  font-size: 1em;
}

.innner-list a {
  word-break: break-all;
}

.question-n-colon {
  margin: 0.5em 0 0;
  font-weight: normal;
}

.question-n-colon::before {
  content: "Q:\a0";
}

.answer-n-colon {
  margin: 0 1em 0 3em;
}

.answer-n-colon::before {
  content: "A:\a0";
  position: absolute;
  margin-left: -1.25em;
}

#content-area {
  padding: 1.5em;
}

#content-area p {
  padding: 1em;
  font-size: 0.75em;
}

.weblog-article-list {
  margin: 1.5em 0 1em;
  height: 27.5em;
  width: 100%;
  overflow-y: scroll;
  background-color: hsla(34, 78%, 91%, 0.5);
  border: hsl(135, 35%, 35%) solid thin;
  font-size: .75em;
}

.article-list-wrapper {
  padding: .5em 3em;
}

.weblog-article-list li {
  padding-bottom: 3em;
}

.weblog-article-list p {
  margin: 1em 2em;
  text-align: center;
}

.weblog-list-hl {
  margin: 1em 0 1.5em!important;
  font-size: 1.25em!important;
  font-weight: bold;
}

.weblog-article-list span.hyphenated {
  display: none;
}

#general-article-list {
  text-align: center;
  padding-bottom: .5em!important;
}

#with-audio-list {
  text-align: center;
  margin-top: 1.5em;
  padding-bottom: .5em!important;
}

.weblog-text {
  padding: 0 0 3.5em;
  background-color:  hsla(33, 78%, 91%, 0.85);
}

.weblog-text h1 {
  margin: 1.5em 1em;
  padding: .5em .75em;
  display: block;
  border-radius: 1em;
  color: hsl(0, 0%, 100%);
  background-color: hsla(5, 84%, 15%, .5);
  border: .5em solid hsla(0, 0%, 0%, 0.5);
  font-size: 1em;
  text-align: center;
}

.weblog-text h2 {
  padding: 1.5em 1.25em 1em;
  font-size: 1.25em;
}

.weblog-text h2::before {
  content:"\02014\00020";
}

.weblog-text h2::after {
  content:"\00020\02014";
}

.weblog-text h3 {
  padding: 1.5em 1.25em 1em;
  font-size: 1.125em;
}

.weblog-text p {
  padding: .5em 1.5em;
  font-size: 1em;
  line-height: 2.125em;
  text-indent: 1em;
}

.weblog-text ul {
  padding: 1em 2.25em;
  line-height: 2.125em;
}

.readmore {
  margin: 1em 1.5em .75em;
  font-size: 1.125em;
}

.readmore .text {
  text-decoration: underline;
}

.article-data {
  padding: 1.5em .75em .75em!important;
  line-height: 0px!important;
  text-indent: 0px!important;
  text-align: right;
  color: hsla(0, 0%, 0%, 0.5);
  font-size: 0.75em!important;
  font-family: 'Courier New', Courier, monospace;
}

.my-sign {
  margin: 1.5em;
  font-size: .6em!important;
  font-style: italic;
  line-height: 1.5em!important;
  text-align: right;
  text-decoration: underline;
}

.blog-inner-player {
  margin: 1.5em 4.5em;
}

.poem_data {
  padding: 0 1em!important;
}

.poem_fig {
  margin: 1em 0em 3em;
  padding: 1.75em 1em 1em;
  min-width: fit-content;
  background-color: hsla(135, 35%, 75%, 0.25);
  border: 0.5em hsl(135, 35%, 75%) solid;
  border-radius: 1em;
}

.poem_fig figure {
  text-align: center;
}

.poem_fig figcaption{
  text-align: left;
}

.poem_fig img {
  border-radius: 15px;
  width: 55vw;
}

.poem_headline {
  display: inline-block;
  padding: .5em;
  font-size: .75em;
  border-left: .5em hsl(135, 35%, 75%) solid;
  border-right: .5em hsl(135, 35%, 75%) solid;
  border-radius: 15px;
  background-color :hsla(135, 35%, 75%, 0.25);
}

.poem_fig p {
  margin: 1em 0 0;
  padding: 2.25em!important;
  background-color: hsla(33, 78%, 91%, 0.85);
  border-radius: 15px;
}

.column-flex {
  margin: 1em auto 1.5em;
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
}

.column-area {
  padding: 1.5em 0;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.column-item {
  max-width: 80vw;
}

.column-item p {
  padding-left: 0!important;
}

.one-box {
  margin: 0 .25em;
  width: auto;
  background-color: hsla(34, 78%, 91%, 0.5);
  padding: 1.25em;
  border: 3px hsla(0, 0%, 0%, 0.25) solid;
  border-radius: 1em;
}

.two-box {
  margin: 0 .25em;
  width: auto;
  background-color: hsla(34, 78%, 91%, 0.5);
  padding: 1.25em;
  border: 3px hsla(0, 0%, 0%, 0.25) solid;
  border-radius: 1em;
}

.three-box {
  margin: 0 .25em;
  width: auto;
  background-color: hsla(34, 78%, 91%, 0.5);
  padding: 1.25em;
  border: 3px hsla(0, 0%, 0%, 0.25) solid;
  border-radius: 1em;
}

.four-box {
  margin: 0 .25em;
  min-width: fit-content;
  background-color: hsla(34, 78%, 91%, 0.5);
  padding: 1.25em;
  border: 3px hsla(0, 0%, 0%, 0.25) solid;
  border-radius: 1em;
}

.four-box label {
  font-size: .75em;
}

.wip-h {
  margin-top: 2em;
  font-weight: bold;
}

.wip-image {
  width: 80vw;
}

.update-area {
  padding-left: .5em;
  padding-top: 2em;
  padding-bottom: 1em;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.update-box {
  margin: 0 .25em;
  height: fit-content;
  background-color: hsla(34, 78%, 91%, 0.5);
  font-size: .75em;
  border-radius: 1em 0 0 1em;
}

.ud-table-wrapper {
  padding: 1em;
  max-height: 30em;
  border: .25em hsla(0, 0%, 0%, 0.25) solid;
  overflow-y: scroll;
  scrollbar-color: hsla(0, 0%, 0%, 0.25) hsla(0, 0%, 0%, 0);
  border-radius: 1em 0 0 1em;
}

.ud-table-wrapper::-webkit-scrollbar {
  width: 8px;
  background: hsla(0, 0%, 0%, 0);
}

.ud-table-wrapper::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 0%, 0.25);
}

.ud-table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 0%, 0.35);
}

.update-table {
  padding: .5em;
  table-layout: fixed;
  width: 68vw;
  min-width: 250px;
}

.update-table td {
  padding: .5em;
  vertical-align: top;
}

.update-year {
  margin: .5em 0;
  border-top: .25em hsla(0, 0%, 0%, 0.25) dotted;
  border-bottom: .25em hsla(0, 0%, 0%, 0.25) dotted;
  text-indent: .75em;
  font-size: 1em!important;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.update-date {
  width: 3.5em;
  font-family: 'Courier New', Courier, monospace;
}

.update-content {
  border-left: .25em hsla(0, 0%, 0%, 0.25) dotted;
  padding-left: 1em !important;
  font-family: sans-serif;
}

.tab-wrap {
  margin: 0 auto;
  width: 95%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.tab-label {
  margin: .75em;
  padding: 1em;
  width: fit-content;
  order: -1;
  position: relative;
  z-index: 1;
  float: left;
  color: White;
  background: hsla(0, 0%, 0%, 0.35);
  border-radius: 1em;
  white-space: nowrap;
  text-align: center;
  font-size: .5em;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.tab-content {
  margin: .5em 0 0;
  padding: 0.75em .25em;
  width: 100vw;
  background: hsla(0, 0%, 100%, 0.5);
  border-radius: 1em;
}

.tab-switch:checked+.tab-label {
  color: hsla(0, 0%, 0%, 0.75);
  background: hsla(0, 0%, 100%, 0.5);
}

.tab-switch:checked+.tab-label+.tab-content {
  padding: 1em;
  height: 100%;
  display: block;
}

.tab-switch,
.tab-content {
  display: none;
}

.enlarge-img {
  font-size: .75em;
  text-align: right;
}

.enlarge-img a::after {
  content: url(../media/svg-icon/open-in-new-tab.svg);
  margin-left: 5px;
}

.back-top {
  padding: .75em 1.5em;
  font-size: .75em;
  background-color: hsla(0, 0%, 100%, 0.55);
}

.back-index {
  padding: 1.5em 1.5em;
  font-size: .75em;
  background-color: hsl(135, 35%, 75%);
}

.back-cat-index a::before {
  width: 1.5em;
  display: block;
  float: left;
  padding-right: .25em;
  text-align: right;
  content: "\3c";
}

.back-root-index a::before {
  width: 1.5em;
  display: block;
  float: left;
  padding-right: .25em;
  text-align: right;
  content: "\3c\3c";
}

.back-page-top a::before {
  width: 1.5em;
  float: left;
  padding-right: .25em;
  text-align: right;
  content: "\2191";
}

.back-page-top-b a::before {
  width: 1.5em;
  float: left;
  padding-right: .25em;
  text-align: right;
  content: "\2191";
}

#page-end {
  margin: 1em 0;
}

#page-end::after {
  padding: .5em;
  content: "}";
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
  color: hsla(135, 15%, 35%, .25);
}

figcaption {
  padding: 1em;
  font-size: .75em;
}

.back-page-top-button {
  width: 25px;
  height: 25px;
  position: fixed;
  right: 1.5em;
  bottom: 8.25em;
  z-index: 3;
  background-color: hsl(135, 15%, 35%);
  border: hsla(135, 15%, 35%, .5) solid .125em;
  border-radius: 100%;
  text-align: center;
  transition: .5s;
}

.back-page-top-button a {
  display: block;
  font-size: 1em;
}

.back-page-top-button a::before {
  content: url(../media/svg-icon/backtopagetop_sp.svg);
}

.go-page-fin-button {
  width: 25px;
  height: 25px;
  position: fixed;
  right: 1.5em;
  bottom: 6em;
  z-index: 3;
  background-color: hsl(135, 15%, 35%);
  border: hsla(135, 15%, 35%, .5) solid .125em;
  border-radius: 100%;
  text-align: center;
  transition: .5s;
}

.go-page-fin-button a {
  display: block;
  font-size: 1em;
}

.go-page-fin-button a::before {
  content: url(../media/svg-icon/gotopagefin_sp.svg);
}

footer nav {
  padding-bottom: 2.5em;
}

.footer-nav {
  display: flex;
  list-style-type: none;
  font-size: 7.5px;
}

.footer-nav li:not(:first-child) {
  padding-left: 12px;
}

.footer-nav li:before {
  content: "\25B8\a0";
  color: hsl(135, 35%, 25%);
}

.site-logo-img img {
  width: 100%;
  max-width: fit-content;
  padding-bottom: 1.5em;
}

.address-box {
  padding: 1em 0 .5em;
  margin: 1.5em auto 3.5em;
  width: fit-content;
  display: block;
  font-style: italic;
  color: hsla(0, 0%, 0%, 0.5);
  background-color: hsla(34, 78%, 91%, 0.5);
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.address-box::after {
  content: "\a0 miyatakehtml [at] gmail.com";
  color: hsl(0, 0%, 0%);
}

.table-wrap {
  padding: 1em 0 0;
}

.document-list-box {
  margin: 0 auto 1.5em;
  padding: 2.5em;
  background-color: hsla(34, 78%, 91%, 0.75);
  border: 2.5px hsla(0, 0%, 0%, 0.25) solid;
  border-radius: 25% 10% / 5% 20%;
}

.document-list-box>h2 {
  margin: .5em .5em 2em;
  font-size: 1em;
  text-align: center;
}

.secondary-list {
  margin: 0 auto 3em;
}

.document-list {
  margin-top: 1.5em;
  font-size: .75em;
}

.document-list ol {
  margin: 1em 1.5em;
  font-weight: normal;
}

.document-list ol li {
  margin-top: 1em;
}

.document-list > li {
  margin: 1.5em 0;
}

.list-subtitle {
  list-style: none;
  font-weight: bold;
}

.list-top-margin {
  margin-top: 2em;
}

.others-list-box {
  margin: 0 auto 3em;
  padding: 2.5em;
  background-color: hsla(34, 78%, 91%, 0.75);
  border: 2.5px hsla(0, 0%, 0%, 0.25) solid;
  border-radius: 25% 10% / 5% 20%;
}

.others-list-box>h2 {
  margin: 0 .5em 2em;
  font-size: 1em;
  text-align: center;
}

.others-list-box>div {
  margin: 0 auto;
}

ul.others-list {
  margin-top: 2em;
  list-style: none;
  font-size: .75em;
  font-weight: bold;
}

.others-list ol {
  margin: 1em 1.5em;
  font-weight: normal;
}

.others-list ol li {
  margin-top: 1em;
}

.others-title {
  padding-left: .5em;
}

.others-video {
  padding: .5em;
  text-align: center;
}

.others-video figcaption {
  text-align: left;
}

.others-video video {
  width: 75vw;
}

.frame_img {
  margin: 0 auto;
  max-width: 75vw;
}

.frame_img img {
  max-width: 75vw;
}

.others-music {
  margin: 0 auto 3em;
  padding: 0;
}

.others-music audio {
  width: 100%;
}

.radio-audio {
  margin: 0!important;
  text-indent: unset!important;
}

.radio-audio audio {
  width: 100%;
}


.chapter-box{
  margin: 0 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.chapter-list {
  width: 100%;
  all: unset;
  display: inline;
  color: hsl(135, 35%, 25%);
  font: inherit;
  font-size: .75em;
  font-weight: bold;
  cursor: pointer;
}

.demotape {
  margin: 3em 0 .5em!important;
  padding-left: 1em!important;
}

.sitemap-table {
  margin: .75em;
  width: 50vw;
  font-size: .75em;
}

.sitemap-ja {
  padding-left: 1em;
}

.sitemap-en {
  font-family: 'Courier New', Courier, monospace;
}

.file_list {
  margin: 1em 0;
  padding: 0 3em;
  font-size: .75em;
}

.inline_img {
  margin: 1.5em 0 0;
  display: inline;
  width: 80vw;
  height: auto;
}

.inline_bigimg {
  margin: 1.5em 0 0;
  display: inline;
  width: 80vw;
  height: auto;
}

.il_img_sp > img {
  margin: 1.5em auto 0;
  display: block;
  text-indent: 0!important;
}

.sp-none {
  display: none;
}

.copyright,
#site-uri,
.released-year,
.song-type,
.pic-img,
.pic-img-vertical,
.lyrics-text {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  pointer-events: none;
}

#fixed-menu, #site-title, .article-data, .my-sign {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.img-blur {
  filter: blur(6px);
  -ms-filter: blur(6px);
}

.img-high-blur {
  filter: blur(24px);
  -ms-filter: blur(24px);
  transition: 6s;
}

.blur-button {
  position: fixed;
  bottom: 1em;
  right: 4.5em;
}

#toggle-blur {
  margin-left: 1em;
  padding: 0.5em;
  width: fit-content;
  color:hsl(135, 35%, 25%);
  background: linear-gradient(hsla(135, 35%, 75%, 0.5), hwb(135 66% 16%)) no-repeat hsla(135, 100%, 90%);
  text-align: center;
  font-size: .5em;
  cursor: pointer;
  border: hsl(135, 15%, 35%) solid .25em;
  border-radius: 7.5px;
  transition: .5s;
}

#toggle-blur:hover {
  background: linear-gradient(hsla(135, 45%, 75%, 0.5), hsl(135, 45%, 75%)) no-repeat hsla(135, 100%, 96%);
  transition: .5s;
}

/* for SP-Landscape */
@media screen and (max-height: 710px) {
  #fixed-menu {
    margin: 8.5em 1em;
    padding: .5em;
    width: fit-content;
    height: fit-content;
    bottom: 0;
    right: 0;
    display: flex;
    position: fixed;
    z-index: 2;
    background-color: hsla(34, 78%, 91%, 0.75);
    border: 2.5px hsla(0, 0%, 0%, 0.25) solid; 
    border-radius: 1em;
  }

  .fixed-menu-toggle {
    margin: 1.5em 1em;
    padding: .5em;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 3;
    background-color: hsla(34, 78%, 91%, 0.75);
    border: 2.5px hsla(0, 0%, 0%, 0.25) solid; 
    border-radius: 1em;
    font-size: 12px;
  }

  #fixed-menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 10px;
  }

  .back-page-top-button {
    margin: 5.5em 1.5em;
    width: 25px;
    height: 25px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: hsl(135, 15%, 35%);
    border: hsla(135, 15%, 35%, .5) solid .125em;
    border-radius: 100%;
    text-align: center;
    transition: .5s;
  }

  .back-page-top-button a {
    display: block;
    font-size: 1em;
  }

  .back-page-top-button a::before {
    content: url(../media/svg-icon/backtopagetop_sp.svg);
  }

  .go-page-fin-button {
    margin: 3em 1.5em;
    width: 25px;
    height: 25px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: hsl(135, 15%, 35%);
    border: hsla(135, 15%, 35%, .5) solid .125em;
    border-radius: 100%;
    text-align: center;
    transition: .5s;
  }

  .go-page-fin-button a {
    display: block;
    font-size: 1em;
  }

  .go-page-fin-button a::before {
    content: url(../media/svg-icon/gotopagefin_sp.svg);
  }

  .blur-button {
    position: fixed;
    bottom: 1em;
    right: 3em;
  }
}